@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.fondo {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    background: white;
    color: black;
    width: 20rem;
    padding: 30px 30px;
    border-radius: 10px;
  }

  h1{
    font-size: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  form input {
    margin-bottom: 10px;
    border: 2px solid gainsboro;
    outline: none;
  }
  
  form a {
    text-decoration: none;
  }
  
  #submitBtn {
    margin-top: 30px;
    align-self: flex-start;
    padding: 5px 15px;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  #help-text {
    margin-top: 10px;
    font-size: 12px;
  }



.inicio{ 
  background: linear-gradient(115deg, #b4f1f8 10%, #e5c4f5 90%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  height: 80px;
  border-radius: 0 0 15px 15px;
  padding: 0 25px;
  z-index: 2;
  background: #f7eaf1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.navtabs {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  list-style: none;
  align-items: center;
}
.navtabs:not(:last-child) {
  padding: 10px 25px;
  margin: 0;
  border-right: 1px solid #eee;
}
.navtabs:last-child {
  padding: 10px 0 0 25px;
}
.navtabs {
  cursor: pointer;
}

.navitem{
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
}